server:
  port: 8081
spring:
  application:
    name: hmdp
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ShopHub?useSSL=false&serverTimezone=UTC
    username: root
    password: douzi123
  redis:
    host: localhost
    port: 6379

    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
  jackson:
    default-property-inclusion: non_null # Ignore non-null fields when processing JSON
mybatis-plus:
  type-aliases-package: com.shopHub.entity # Type alias scan package
logging:
  level:
    com.shopHub: debug